@import "../../variables.scss";

.container__info {

    &__li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }

    &__ul {
        padding: 0px;
    }

    &__text {
        width: 240px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

.input__container {
    width: 100px;
}

.info {
    &__delete {
        color: #9da8c3;
        font-weight: 200;
    }

    &__header__span {
        font-size: 16px;
        font-weight: 600;
    }

    &__input {
        border: 2px solid #559c4f;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        text-indent: 10%;
        -moz-border-radius: 15px;
        -khtml-border-radius: 15px;
        background: #fafdf8 !important;
        outline: none;
        height: 30px;
        width: 50px;
        font-weight: 400;
        font-size: 15px;
        color: #aeaeae;
    }
}

.info {
    &__delete {
        &:hover {
            color: red;
            cursor: pointer;
            font-weight: 500;
        }
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}