@import "../../../variables.scss";

.add-meal {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50px;
  background: $dark-color url(../../../assets/svg/plus-light.svg) no-repeat;
  background-position: 50%;
  cursor: pointer;
}
