@import "../../variables.scss";

.progress-screen {
  background-color: $bg-color;

  &__title {
    margin: 0 0 20px 0;
    text-align: center;
    font-weight: 500;
  }

  &__progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__chart {
    width: 153px;
  }

  &_kg-left {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  &__slash:before {
    content: "";
    display: block;
    height: 173px;
    border-left: 3px solid $dark-color;
  }

  &__curr-weight {
    width: 125px;
    font-size: 24px;

    &_bg {
      background-color: #c6e8aa;
      padding: 2px;
      border-radius: 10px;
    }
  }
}

.calories {
  padding: 20px 0;

  &__daily-data {
    background-color: $light-color;
    padding: 15px;
    border-radius: 20px;
  }
}

.daily-data {
  &__title {
    text-align: center;
    font-size: 30px;
  }

  &__btn {
    width: 100%;
    height: 65px;
    border-radius: 20px;
    background-color: $dark-color;
    color: $bg-color;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      background-color: $light-color;
      color: $dark-color;
      border: 1px solid $dark-color;
      transition: 0.4s all ease;
    }
  }
}

@media screen and (min-width: $media-tab-pt) {
  .calories__daily-data {
    padding: 15px 300px;
  }
}
