@import "../../../variables";

.weight-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto;
  height: 250px;
  width: 130px;

  &__input {
    display: none;

    &:checked + label {
      background-color: var(--choosen-input-color);
      transform: scale(1.3);
      transition: 0.4s all ease;
      margin: 10px 0;
      color: var(--color-text);
    }
  }

  &__label {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: var(--input-color);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.35);
    font-size: 30px;
    cursor: pointer;
    padding: 32px 0;

    &:hover {
      transform: scale(1.1);
      transition: 0.4s all ease;
    }
  }
}
