@import "../../variables.scss";

.logo {
  display: none;
}

@media screen and (min-width: $media-tab-pt) {
  .logo {
    display: block;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.225;
    color: $dark-green;
    margin: 20px 0 20px 5px;
  }
}
