@import "../../../variables";

.btn-circle {
  display: flex;
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid $dark-green;
  background-color: $dark-green;
  justify-content: center;
  align-items: center;
}

.progress {
  display: flex;
  position: absolute;
  margin: auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid $middle-green;
}

.next-btn {
  display: flex;
  width: 85px;
  height: 85px;
  margin: auto;
  background-color: $dark-color;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  &-icon {
    background: url(../../../assets//svg/arrow-light.svg) no-repeat;
    transform: rotate(180deg);
    width: 20px;
    height: 30px;
  }

  &:hover {
    transform: scale(1.1);
  }
}
