@import "../../variables";

.goal-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 50px 0 100px 0;

  &__input {
    display: none;

    &:checked + label {
      background-color: $middle-green;
      transition: 0.4s all ease;
    }
  }

  &__label {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--input-color);
    color: var(--color-text);
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 15px;
    font-size: 24px;
    font-weight: 500;

    &:hover {
      transform: scale(1.1);
      transition: 0.4s all ease;
    }
  }
}
