@import "../../../variables.scss";

.card__category {
  width: 100%;
  margin: 10px auto;
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: #c4c4c4;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: 0.4s all ease;
  }

  &__wrapper {
    background-size: cover;
    height: 100%;
    border-radius: 10px;
  }

  &__bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgba(30, 30, 30, 0.79) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
  }
}

.category__recipe {
  &__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    color: var(--input-color);
    margin-left: 0px;
    text-align: left;
  }

  &__kithcen,
  &__time {
    margin: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__author,
  &__time__text,
  &__kithcen__text {
    font-weight: 500;
    font-size: 10px;
    color: #d9d9d9;
    margin: 5px 0px;
  }

  &__kithcen__icon {
    background-image: url("../../../assets/svg/kitchen_category_page.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    margin: 5px;
  }

  &__time__icon {
    background-image: url("../../../assets/svg/clock_category_page.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    margin: 5px;
  }
}
