@import "../../variables.scss";

.reg-input {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 0 20px 0 52px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  border: 3px solid $dark-green;
  border-radius: 20px;
  background-color: $light-color;

  &::placeholder {
    color: rgba(0, 0, 0, 0.27);
  }

  &:focus {
    outline: none;
  }

  &:invalid {
    background-color: rgba(225, 112, 48, 0.1);
    border: 3px solid #e17030;
  }

  &:placeholder-shown {
    background-color: $light-color;
    border: 3px solid $dark-green;
  }

  &:disabled {
    background-color: rgba(52, 54, 51, 0.1);
    border: 3px solid $dark-color;
  }
}
