@import "../../variables";

.main-screen {
  background-color: $bg-color;
}

.daily-events {
  display: grid;

  &__meals {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    font-weight: 300;
  }
}
