@import "../../variables";

.recipes__screen {
    width: 100%;
    background-color: $bg-color;

    &__h1 {
        font-weight: 600;
        font-size: 20px;
        margin: 20px auto;
        width: 90%;
    }

    &__h3 {
        font-weight: 400;
        font-size: 15px;
        color: #424242;
        margin: 0px auto;
        width: 90%;
    }
}

.main__header__container {
    padding: 10px 20px;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__view {
        font-weight: 600;
        font-size: 14px;
        color: #c4c4c4;
    }

}
