@import "../../variables";

.registration-screen {
  background-color: $bg-color;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;

  &_username:before {
    content: url(../../assets/svg/reg-user.svg);
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
  }

  &_email:before {
    content: url(../../assets/svg/reg-email.svg);
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
  }

  &_password:before {
    content: url(../../assets/svg/reg-password.svg);
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
  }
}

.full-name {
  display: flex;
  gap: 10px;
}

.input-title {
  color: $dark-green;
  font-size: 20px;
  margin-top: 0;
}

.password__show-btn {
  background-image: url(../../assets/svg/reg-show.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.continue-btn {
  background-color: $dark-color;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: $bg-color;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: $bg-color;
    color: $dark-color;
    border: solid 3px $dark-color;
    transition: 0.4s all ease;
  }

  &:disabled {
    background-color: rgba(52, 54, 51, 0.35);
    border: none;
    color: $bg-color;
    cursor: default;
  }
}

.rights {
  width: 100%;
  text-align: center;
  color: $dark-green;
}

a {
  font-weight: 600;

  &:hover {
    color: $middle-green;
    transition: 0.4s all ease;
  }
}

.questions-container {
  padding-bottom: 30px;
  padding-top: 30px;
}

.process {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-top: 45px;
}

.reg-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 23px;

  &__highlight {
    color: $dark-green;
  }
}

.data-info {
  color: rgba(52, 54, 51, 0.35);
  font-weight: 500;
  text-align: center;
}

.gender-input {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin: 100px 0;

  &__input {
    display: none;

    &:checked + label {
      background-color: $middle-green;
    }
  }

  &__label {
    width: 164px;
    height: 244px;
    display: flex;
    flex-direction: column;
    background-color: $light-color;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.4s all ease;
    }
  }

  &__icon {
    height: 130px;
  }
}

.age-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100px;
  background-color: $middle-green;
  border-radius: 20px;
  color: $dark-color;
  font-size: 36px;
  font-weight: 600;
  margin-top: 100px;
}

.age-input {
  width: 100%;
  margin: 20px 0 100px 0;
  border: none;
  border-radius: 20px;
  padding: 20px 15px;
  box-sizing: border-box;
  cursor: pointer;
  color: $dark-color;
  font-size: 18px;
  font-weight: 500;
  background: $light-color url(../../assets/svg/calendar.svg) no-repeat;
  background-size: 30px;
  background-position: 95%;

  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 500;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-calendar-picker-indicator {
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
  }
}
