/* montserrat-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/montserrat-v25-latin-100.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-100.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/montserrat-v25-latin-200.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/montserrat-v25-latin-300.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/montserrat-v25-latin-900.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/montserrat-v25-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/montserrat-v25-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/montserrat-v25-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/montserrat-v25-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  min-width: 370px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

@media screen and (min-width: 768px) {

  .container {
    min-width: 748px;
  }

}

@media screen and (min-width: 1024px) {

  .container {
    min-width: 1000px;
  }

}

@media screen and (min-width: 1200px) {

  .container {
    min-width: 1100px;
  }

}