/* montserrat-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/montserrat-v25-latin-100.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-100.woff") format("woff");
}
/* montserrat-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/montserrat-v25-latin-200.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-200.woff") format("woff");
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/montserrat-v25-latin-300.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-300.woff") format("woff");
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat-v25-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-regular.woff") format("woff");
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/montserrat-v25-latin-500.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-500.woff") format("woff");
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/montserrat-v25-latin-600.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-600.woff") format("woff");
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/montserrat-v25-latin-700.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-700.woff") format("woff");
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/montserrat-v25-latin-800.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-800.woff") format("woff");
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/montserrat-v25-latin-900.woff2") format("woff2"),
    url("./assets/fonts/montserrat-v25-latin-900.woff") format("woff");
}

body {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  min-width: 360px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

@media screen and (min-width: $media-tab) {
  .container {
    min-width: 728px;
  }
}

@media screen and (min-width: $media-tab-pt) {
  .container {
    min-width: 964px;
  }
}

@media screen and (min-width: $media-desk) {
  .container {
    min-width: 1100px;
  }
}
