$media-tab: "768px";
$media-tab-pt: "1024px";
$media-desk: "1200px";
$media-desk-lg: "1400px";

$offset-mob: 15px;
$offset-tab: 20px;
$offset-tab-pt: 30px;

$bg-color: #e8f2e1;
$dark-color: #343633;
$light-color: #fafdf8;
$middle-green: #c6e8aa;
$dark-green: #559c4f;
$dark-theme-light-color: #97b27a;
$dark-theme-middle-green: #61764b;

$about-us: url(./assets/svg/about-us-btn-light.svg);
$about-us-hover: url(./assets/svg/about-us-btn.svg);
$arrow: url(./assets/svg/arrow.svg);
$arrow-hover: url(./assets/svg/arrow-light.svg);
$calendar: url(./assets/svg/calendar.svg);
$calendar-hover: url(./assets/svg/calendar-light.svg);
$facebook: url(./assets/svg/facebook.svg);
$facebook-hover: url(./assets/svg/facebook-light.svg);
$instagram: url(./assets/svg/instagram.svg);
$instagram-hover: url(./assets/svg/instagram-light.svg);
$youtube: url(./assets/svg/youtube.svg);
$youtube-hover: url(./assets/svg/youtube-light.svg);
$favorites: url(./assets/svg/favorites.svg);
$favorites-hover: url(./assets/svg/favorites-light.svg);
$filled-heart: url(./assets/svg/filled-heart.svg);
$filled-heart-hover: url(./assets/svg/filled-heart-light.svg);
$minus: url(./assets/svg/minus.svg);
$minus-hover: url(./assets/svg/minus-light.svg);
$plus: url(./assets/svg/plus.svg);
$plus-hover: url(./assets/svg/plus-light.svg);
$pencil: url(./assets/svg/pencil.svg);
$pencil-hover: url(./assets/svg/pencil-light.svg);
$progress: url(./assets/svg/progress.svg);
$progress-hover: url(./assets/svg/progress-light.svg);
$settings: url(./assets/svg/settings.svg);
$settings-hover: url(./assets/svg/settings-light.svg);

html[data-theme="light"] {
  --color-text: #{$dark-color};
  --color-background: #{$bg-color};
  --input-color: #{$light-color};
  --choosen-input-color: #{$middle-green};
  --about-us: #{$about-us};
  --about-us-hover: #{$about-us-hover};
  --arrow: #{$arrow};
  --arrow-hover: #{$arrow-hover};
  --calendar: #{$calendar};
  --calendar-hover: #{$calendar-hover};
  --facebook: #{$facebook};
  --facebook-hover: #{$facebook-hover};
  --instagram: #{$instagram};
  --instagram-hover: #{$instagram-hover};
  --youtube: #{$youtube};
  --youtube-hover: #{$youtube-hover};
  --favorites: #{$favorites};
  --favorites-hover: #{$favorites-hover};
  --filled-heart: #{$filled-heart};
  --filled-heart-hover: #{$filled-heart-hover};
  --minus: #{$minus};
  --minus-hover: #{$minus-hover};
  --plus: #{$plus};
  --plus-hover: #{$plus-hover};
  --pencil: #{$pencil};
  --pencil-hover: #{$pencil-hover};
  --progress: #{$progress};
  --progress-hover: #{$progress-hover};
  --settings: #{$settings};
  --settings-hover: #{$settings-hover};
}

html[data-theme="dark"] {
  --color-text: #{$bg-color};
  --color-background: #{$dark-color};
  --input-color: #{$dark-theme-light-color};
  --choosen-input-color: #{$dark-theme-middle-green};
  --about-us: #{$about-us-hover};
  --about-us-hover: #{$about-us};
  --arrow: #{$arrow-hover};
  --arrow-hover: #{$arrow};
  --calendar: #{$calendar-hover};
  --calendar-hover: #{$calendar};
  --facebook: #{$facebook-hover};
  --facebook-hover: #{$facebook};
  --instagram: #{$instagram-hover};
  --instagram-hover: #{$instagram};
  --youtube: #{$youtube-hover};
  --youtube-hover: #{$youtube};
  --favorites: #{$favorites-hover};
  --favorites-hover: #{$favorites};
  --filled-heart: #{$filled-heart-hover};
  --filled-heart-hover: #{$filled-heart};
  --minus: #{$minus-hover};
  --minus-hover: #{$minus};
  --plus: #{$plus-hover};
  --plus-hover: #{$plus};
  --pencil: #{$pencil-hover};
  --pencil-hover: #{$pencil};
  --progress: #{$progress-hover};
  --progress-hover: #{$progress};
  --settings: #{$settings-hover};
  --settings-hover: #{$settings};
}
