$media-tab: "768px";
$media-tab-pt: "1024px";
$media-desk: "1200px";
$media-desk-lg: "1400px";

$offset-mob: 15px;
$offset-tab: 20px;
$offset-tab-pt: 30px;

$bg-color: #e8f2e1;
$dark-color: #343633;
$light-color: #fafdf8;
$middle-green: #c6e8aa;
$dark-green: #559c4f;
$brown: #874e3d;
