@import "../../../variables.scss";

.plus-minus-btn {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50px;
  background-color: var(--color-text);
  cursor: pointer;
  background-position: 50%;

  &:hover {
    transform: scale(1.1);
    transition: 0.4s all ease;
  }
}

.plus-minus-img {
  display: block;
  margin: auto;
}

.plus-img {
  background-image: var(--plus-hover);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%;
}

.minus-img {
  background-image: var(--minus-hover);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50%;
}
