@import "../../variables";

.footer {
  background-color: $dark-color;
  height: 179px;
  color: $bg-color;

  &__container {
    display: flex;
    align-items: center;
  }

  &__creators {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
}

.creators-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  font-size: 16px;
  gap: 5px;
}

.list-item:hover {
  color: $middle-green;
  transition: 0.4s all ease;
}

a {
  text-decoration: none;
  color: inherit;
}

.media-icon {
  background-color: $light-color;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.fb-icon {
  background-image: url(../../assets/svg/facebook.svg);
}

.insta-icon {
  background-image: url(../../assets/svg/instagram.svg);
}

.youtube-icon {
  background-image: url(../../assets/svg/youtube.svg);
}
