@import "../../variables";

.footer {
  background-color: var(--color-text);
  height: 179px;
  color: var(--color-background);

  &__container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
  }

  &__creators {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  &__school-link {
    display: none;
  }

  &__media {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__media-icon {
    background-color: var(--input-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: 50%;

    &_fb {
      background-image: var(--facebook);
    }

    &_inst {
      background-image: var(--instagram);
    }

    &_yt {
      background-image: var(--youtube);
    }
  }

  &__media-icon:hover {
    background-color: var(--color-text);
    transition: 0.4s all ease;

    &.footer__media-icon_fb {
      background-image: var(--facebook-hover);
    }

    &.footer__media-icon_inst {
      background-image: var(--instagram-hover);
    }

    &.footer__media-icon_yt {
      background-image: var(--youtube-hover);
    }
  }
}

.title {
  margin: 0;
  font-weight: 300;
}

.creators {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  font-size: 16px;
  gap: 5px;
}

.creators__item:hover {
  color: var(--choosen-input-color);
  transition: 0.4s all ease;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: $media-tab-pt) {
  .footer__school-link {
    display: flex;
    gap: 5px;
    margin: auto 0 25px 0;
  }

  .school-link:hover {
    color: var(--choosen-input-color);
    transition: 0.4s all ease;
  }
}
