@import "../../variables";

.registration-screen {
  background-color: $bg-color;

  max-height: 100vh;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

// .questions-container {
//   padding-bottom: 30px;
//   padding-top: 30px;
// }

.profile-form {
  height: 100%;
  background-color: $bg-color;
}

.process {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}

.reg-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 23px;

  &__highlight {
    color: $dark-green;
  }
}

.data-info {
  color: rgba(52, 54, 51, 0.35);
  font-weight: 500;
  text-align: center;
}

.unit {
  background-color: $dark-color;
  color: $bg-color;
  border-radius: 20px;
  width: 60px;
  height: 23px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.triangle {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 18px solid $dark-green;
}

@media screen and (min-width: $media-tab-pt) {
  .registration-screen-container {
    width: 500px;
  }

  .questions-container {
    width: 500px;
  }
}
